<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' type='text/css' href='myJobSearch.css'>
    <link href='https://fonts.googleapis.com/css?family=Arvo' rel='stylesheet'>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-theme.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-theme.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
  </head>

  <body>
    <header>
      <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
            <a href="{{ url_for('index') }}" class="navbar-brand">WhatNow</a>
          </div>
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
              <li><a href="{{ url_for('about') }}">About</a></li>
              <li><a href="#">Contact</a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
              <li><a href="#">Sign Up</a></li>
              <li><a href="#">Sign In</a></li>
            </ul>
          </div>
          
        </div>
      </nav>
      
    </header>
    <div class="container">
      {% block content %}
      {% endblock %}
    </div>
  </body>
</html>